.auth-container {

    &--left {
        float: left;
        width: 50%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &--right {
        float: left;
        width: 50%;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}